/* https://fonts.bunny.net/ */
@import url(https://fonts.bunny.net/css?family=inter:400,600|roboto-mono:400);

* {
  /* https://www.joshwcomeau.com/css/custom-css-reset/ */
  margin: 0;
}

h1 {
  font-weight: 600;
}

code,
kbd {
  font-family: 'Roboto Mono', monospace;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: inherit;
}

.App {
  /* https://tailwindcss.com/docs/padding */
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  /* https://dribbble.com/shots/18959433-SUAVE-color-palette */
  background-color: #f7f9f7;
  color: #19180a;
  font-family: 'Inter', sans-serif;
}

.truncate {
  /* Alternative: */
  /* word-break: break-word; */

  /* https://developer.mozilla.org/pt-BR/docs/Web/CSS/text-overflow#examples */
  /* https://tailwindcss.com/docs/text-overflow */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.text-center {
  text-align: center;
}
